/* Skin: Deep Sky Blue */
a {
  color: #EC2121;
}
a:hover, a:focus {
  color: #d21212;
}

.btn-primary {
  background-color: #EC2121;
  border-color: #EC2121;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #EC2121;
  border-color: #e01313;
}
.btn-primary:active:focus, .btn-primary.active:focus {
  background-color: #e01313;
  border-color: #b10f0f;
}

.section-heading h2 {
  color: #EC2121;
}

.service-item .service-icon,
.service-item .service-text a.read-more {
  color: #EC2121;
}

.work-item-filters li a:hover,
.work-item-filters li a.active {
  background-color: #EC2121;
}

.work-item-list .image-overlay {
  background-color: rgba(82, 82, 82, 0.9);
}

.team-member .team-name {
  background-color: #EC2121;
}

.twitter-stream {
  background-color: #c91111;
}
.twitter-stream .twitter-icon {
  background-color: #b10f0f;
}
.twitter-stream .twitter-icon i {
  color: #EC2121;
}

.chart .percent {
  color: #EC2121;
}

.icons {
  font-size: 4em;
  color: red;
}

.skillContainer {
  margin-bottom: 5%;
}

.hero-unit {
  background-color: rgba(0,0,0,0.4);
}
#particles-js {
  height: 45% !important;
  width: 100%;
  position: absolute;
  z-index: 50;
}
.selfImg {
  width: 35%;
  margin-bottom: 5%;
}
.live {
  margin-right: 10px;  
}
.live:hover, .code:hover {
  cursor: pointer;
  color: red;
}
.code {
  margin-left: 10px;
}
.live, .code {
  font-size: 1.5em;
}
.tintedOverlay {
  height: 302px;
  background-color: rgba(0,0,0,0.5);
}
.full-width-parallax  {
  padding: 0;
}
.webLinks {
  margin-top: 7%;
}
.contact-text {
  font-size: 1em !important;
}
.button-container {
  display: inline-flex;
}
.resumeIcon {
  padding-right: 5px; 
}
.resume {
  width: 18rem;
  margin-left: 20px;
  padding-top: 3.5%;
}
@media only screen and (max-width: 500px) {
  .selfImg {
    width: 50%;
    margin-bottom: 10%;
    
  }
}
@media only screen and (max-width: 480px) {
  .hero-buttons {
    width: 16rem;
  }
  .resume {
    width: 15rem;
    margin-left: 20px;
    height: 4.6rem;
    padding-top: 5px
  }
}

@media only screen and (max-width: 350px) {
  .resume {
    width: 13rem;
    margin-left: 10px;
    height: 4.6rem;
    padding-top: 5px
  }
}




